<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <h1>{{screamIt pageTitle}}</h1>
        {{> footer}}
    </body>
</html>