<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error 404!</title>
    </head>
    <body>
        <h1>We will be right back.</h1>
        <p>Please wait until the site is being updated.</p>
    </body>
</html>