<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>